.App {
  display: flex;
  flex-direction: row;
}

.left-section {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.right-section {

  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table {
  border-collapse: collapse;
  /* border: 1px solid black; */
  width: 80%;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

th {
  font-weight: bold;
}

.table-heading {
  margin-bottom: 20px;
}

.continue-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: none;
}

.hidden {
  display: none;
}

.group-heading {
  text-align: left;
}

.titleimg{
  width: 60%;
  height: 100%;

}


/* Media query for mobile devices */
@media only screen and (max-width: 600px) {
  .continue-button {
    display: block;
    position: absolute;
    bottom: 10px;
  }
  table {
    overflow-x: auto; /* Enable horizontal scrolling */
    display: block; /* Enable vertical scrolling if needed */
    white-space: nowrap; /* Prevent table cells from wrapping */
  }

  th,
  td {
    padding: 8px;
    text-align: center;
  
  }
  .App {
    display: flex;
    flex-direction: column;
  }

  .right-section {
    display: none;
  }

  .left-section.hidden {
    display: none;
  }

  .left-section:not(.hidden) {
    display: flex;
  }

  .right-section:not(.hidden) {
    display: flex;
  }
}

@media only screen and (min-width: 600px) {
  .continue-button {
    display: hidden;
    position: absolute;
    bottom: 10px;
  }

  .App {
    display: flex;
    flex-direction: row;
  }

  .right-section {
    display: flex;
  }

  .left-section.hidden {
    display: flex;
  }

  .left-section:not(.hidden) {
    display: flex;
  }

  .right-section:not(.hidden) {
    display: flex;
  }
}
